#main-contact{
    @include fadein;
    display: flex;
    flex-wrap:wrap;
    @include clear;
    @media( min-width:798px){
        flex-wrap: nowrap;
        margin-top:50px;
    }
    h1{
        width:150px;
        @media( min-width:798px){
            position: absolute;
            left:80px;
            top:-215px;  
        }
    }
}
#contact-info{
    position: relative;
    width:$full-width;
    margin-top: 12%;
    li{
        @include no-background;
        @include no-border;
        @include center;
        display: inline-block; 
        margin-top: 50px;
        } 
     p{
        @include center;
        margin: auto;
        text-align: center; 
        font-size: 1.333rem;
        width: 90%;
        max-width:400px;
        @media( min-width:798px){ margin: auto; }
    }
}
#contact-container{
        width:$full-width;
        margin-top: 50px;
        @media( min-width:798px){ margin-top: 50px; padding-left: 25px; border-left: solid 4px $grey;}
}
#contact-form{
    border-radius: 5px;
    @media( min-width:798px){ padding-left: 25px; }
    fieldset{
        @include no-border;
    }
    label{
        @include center;
        font-size: $rem-size;
    }
   input::-webkit-input-placeholder {
	   color:darkne($grey, 50%);
    }
    input::-moz-placeholder {
	   color:darken($grey, 50%);
    }
    input:-moz-placeholder {
	   color:darken($grey, 50%);
    }
    input:-ms-input-placeholder { 
	   color:darken($grey, 50%);
    }
    input{ 
        @include center;
        height: 30px;
        width:100%;
        font-size: 1rem;
        border-radius: 5px;
        @include no-border;
        border-bottom: solid grey 3px;
        @include no-background;
        color:lighten($grey, 80%);
    }
    textarea{
        color:$text;
        @include center;
        width:$full-width;
        min-height:100px;
        border-radius: 5px;
        @include no-border;
        font-size: 1rem;
        border-bottom: solid grey 3px;
        background:rgba(150,150,150, .2);   
    }
    .form-button{
        display: inline;  
        border-bottom: none;
        margin:10px;
        background:$grey;  
    }
    .form-button:hover{
        background:lighten($grey, 50%);
        color:$grey;
    }
      #form-submit{
            @include center;
            margin: 20px auto;
            width:40%; 
        }  
}
span{
    width:100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin:25px auto 15px;
    div{
        margin: auto;
        font-size: 1.333rem;
    }
    img{
        width:30px;
    }  
}
#form-messages{
    display: block;
    width:75%;
    min-width:300px;
    font-size: 1.233rem;
    margin:auto;
    background:$white;
    color:$almost_black;
    border-radius: 4px;
    text-align: center;
    
}