.home{
    margin-bottom:10%;
    margin-top:-75px;
    @media( min-width:798px){ margin-bottom:5%; margin-top:25px; }
    li{
        @include fadein-delay;
        color: lighten($grey, 15%);
        display: block;
        border: solid 3px $grey;
        text-align: center;
        border-radius: 3px;
        font-size:1.533rem;
        margin: -3px auto ;
        width:120px;
        background:rgba(25,25,25,.5);
        opacity: .0;
        @media (min-width:480px){ display: inline-block; margin:-5px; }
    }
    li:hover{
        color:$text;
        opacity: .0;
        cursor: default;
        @include fadein-delay;
    }
}
#selfie{
    width:150px;
    display: block;
    margin:auto;
    border-radius: 100%;
    opacity: .0;
    animation: fadein-full 1s 2s linear forwards;
    @media( min-width:798px){ margin:50px auto 0px; }
}
#github-link {
    width:120px;
    display: block;
    margin: auto;
    h2{
       
        margin: auto ; 
        opacity: .0;
        @include fadein-delay; 
        text-align: center;
        @media (min-width:340px){ margin-bottom: 0; }
    }
   h2:after{  
    content:url(/img/github.svg);
    }  
}
